<StackLayout orientation="horizontal">
    <Label text="top 1" verticalAlignment="top" backgroundColor="red"></Label>
    <Label text="center 1" verticalAlignment="center" backgroundColor="green"></Label>
    <Label text="botoom 1" verticalAlignment="bottom" backgroundColor="blue"></Label>
    <Label text="stretch" verticalAlignment="stretch" width="100" backgroundColor="yellow"></Label>
    <Label text="bottom 2" verticalAlignment="bottom" backgroundColor="blue"></Label>
    <Label text="center 2" verticalAlignment="center" backgroundColor="green"></Label>
    <Label text="top 2" verticalAlignment="top" backgroundColor="red"></Label>
</StackLayout> 