<FlexboxLayout flexDirection="column" justifyContent="center" height="500" width="500">
    <Button text="Layout Absolute" [nsRouterLink]="['/absoluteLayout']" ></Button>
    <Button text="Layout Dock" [nsRouterLink]="['/dockLayout']"></Button>
    <Button text="Layout Dock Stretched" [nsRouterLink]="['/dockLayoutStrech']"></Button>
    <Button text="Layout Grid" [nsRouterLink]="['/gridLayout']"></Button>
    <Button text="Layout Stack" [nsRouterLink]="['/stackLayout']"></Button>
</FlexboxLayout>
